.storyBox {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 0.25rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-highlight);
  box-shadow: 2px 2px 2px 0 var(--color-shadow);
}

.basicCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.counterContainer {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-highlight);
  box-shadow: 2px 2px 2px 0 var(--color-shadow);
}

.counter {
  height: 100%;
  display: flex;
  gap: 0.5rem;
}

.counterLabel {
  height: 100%;
  display: flex;
  align-items: center;
}

.counterValue {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
