.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: flex-start;
  max-width: 100%;
}

.stateBox {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0.25rem;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  user-select: none;
}

.stateBoxHeading {
  color: var(--text-primary);
  text-decoration: underline;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.stateBoxSubheading {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 80%;
  padding-left: 1rem;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.stateBoxContent {
  display: flex;
  justify-content: space-evenly;
  padding: 0.25rem;
  gap: 0.5rem;
}

.stateBoxItem {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 0 var(--color-shadow);
  border-top: 0.5px solid #d0d0d0;
  border-left: 0.5px solid #d0d0d0;
  padding: 0.5rem;
}

.stateBoxItemLabel {
  font-size: 80%;
  text-decoration: underline;
  text-align: center;
}

.featureCard {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-secondary);
  box-shadow: 2px 2px 2px 0 var(--color-shadow);
}
