.panel {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  display: inline-block;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 0 var(--color-shadow);
  border-top: 0.5px solid var(--color-highlight);
  border-left: 0.5px solid var(--color-highlight);
  padding: 1rem;
}
