.input {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: orangered;
}
/* TBD
//   tw`
//     px-2
//     py-1
//     rounded
//     text-sm
//     uppercase
//     text-control
//     disabled:text-control-disabled
//     bg-control
//     disabled:bg-control-disabled
//     cursor-pointer
//     disabled:cursor-not-allowed
//     enabled:active:translate-x-px
//     enabled:active:translate-y-px
//     enabled:hover:contrast-125
//   `,
//   css`
//     box-shadow: 2px 2px 3px 0 var(--color-shadow);
//   `,
*/
